In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset["classification_yes"].value_counts()

1    249
0    150
Name: classification_yes, dtype: int64

In [7]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [8]:
indep = dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv', 'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes', 'appet_yes', 'pe_yes', 'ane_yes']]
dep = dataset[["classification_yes"]]

In [9]:
indep.shape

(399, 27)

In [10]:
dep

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [11]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
from sklearn.model_selection import GridSearchCV

# Define the parameter grid for KNN
param_grid = {
    'n_neighbors': [3, 5, 7, 9, 11],
    'weights': ['uniform', 'distance'],
    'metric': ['euclidean', 'manhattan', 'minkowski']
}

# Set up GridSearchCV with KNeighborsClassifier
grid = GridSearchCV(KNeighborsClassifier(), param_grid, refit=True, verbose=3, n_jobs=-1, scoring='f1_weighted')

# Fit the model
grid.fit(X_train, y_train)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski'],
                         'n_neighbors': [3, 5, 7, 9, 11],
                         'weights': ['uniform', 'distance']},
             scoring='f1_weighted', verbose=3)

In [15]:
# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [16]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'metric': 'manhattan', 'n_neighbors': 3, 'weights': 'uniform'}: 0.9701163285572423

In [17]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[51  0]
 [ 4 78]]

In [18]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.93      1.00      0.96        51
           1       1.00      0.95      0.97        82

    accuracy                           0.97       133
   macro avg       0.96      0.98      0.97       133
weighted avg       0.97      0.97      0.97       133

In [19]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

0.9873266379722621

In [20]:
table=pd.DataFrame.from_dict(re)

In [21]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_metric,param_n_neighbors,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.005802,7.484750e-04,0.033912,1.527707e-02,euclidean,3,uniform,"{'metric': 'euclidean', 'n_neighbors': 3, 'wei...",0.981569,0.981233,0.944023,0.962573,1.000000,0.973880,0.019051,3
1,0.007199,7.492856e-04,0.024709,2.317568e-03,euclidean,3,distance,"{'metric': 'euclidean', 'n_neighbors': 3, 'wei...",0.981569,0.981233,0.944023,0.962573,1.000000,0.973880,0.019051,3
2,0.007203,1.170124e-03,0.016515,7.808247e-03,euclidean,5,uniform,"{'metric': 'euclidean', 'n_neighbors': 5, 'wei...",0.963284,0.962636,0.944023,0.962573,0.962573,0.959018,0.007502,11
3,0.005798,1.601656e-03,0.004601,4.899019e-04,euclidean,5,distance,"{'metric': 'euclidean', 'n_neighbors': 5, 'wei...",0.963284,0.981233,0.944023,0.962573,0.962573,0.962737,0.011770,9
4,0.007798,1.597618e-03,0.008000,1.311085e-06,euclidean,7,uniform,"{'metric': 'euclidean', 'n_neighbors': 7, 'wei...",0.908877,0.944161,0.925524,0.981217,0.962573,0.944470,0.025706,17
5,0.005799,7.484180e-04,0.003400,4.895902e-04,euclidean,7,distance,"{'metric': 'euclidean', 'n_neighbors': 7, 'wei...",0.908877,0.944161,0.925524,0.981217,0.962573,0.944470,0.025706,17
6,0.003800,4.010495e-04,0.005399,4.921238e-04,euclidean,9,uniform,"{'metric': 'euclidean', 'n_neighbors': 9, 'wei...",0.872586,0.925764,0.925524,0.981217,0.962573,0.933533,0.037299,25
7,0.003399,4.894545e-04,0.002599,4.892397e-04,euclidean,9,distance,"{'metric': 'euclidean', 'n_neighbors': 9, 'wei...",0.890759,0.925764,0.925524,0.981217,0.962573,0.937167,0.031639,21
8,0.002800,3.989711e-04,0.004599,4.895123e-04,euclidean,11,uniform,"{'metric': 'euclidean', 'n_neighbors': 11, 'we...",0.854321,0.925764,0.907035,0.981217,0.962573,0.926182,0.044461,29
9,0.002399,4.893766e-04,0.002201,4.003302e-04,euclidean,11,distance,"{'metric': 'euclidean', 'n_neighbors': 11, 'we...",0.872586,0.925764,0.925524,0.981217,0.962573,0.933533,0.037299,25
10,0.002806,3.982206e-04,0.005600,1.021847e-03,manhattan,3,uniform,"{'metric': 'manhattan', 'n_neighbors': 3, 'wei...",0.963284,0.981233,0.944023,0.981217,1.000000,0.973951,0.018941,1
11,0.002200,7.480862e-04,0.002001,6.324861e-04,manhattan,3,distance,"{'metric': 'manhattan', 'n_neighbors': 3, 'wei...",0.963284,0.981233,0.944023,0.981217,1.000000,0.973951,0.018941,1
12,0.002205,5.120169e-04,0.003905,4.936398e-04,manhattan,5,uniform,"{'metric': 'manhattan', 'n_neighbors': 5, 'wei...",0.926978,0.981233,0.944023,0.981217,0.981217,0.962934,0.023038,7
13,0.001801,3.998622e-04,0.002000,3.613910e-06,manhattan,5,distance,"{'metric': 'manhattan', 'n_neighbors': 5, 'wei...",0.926978,0.981233,0.944023,0.981217,0.981217,0.962934,0.023038,7
14,0.002200,7.482266e-04,0.003399,1.199516e-03,manhattan,7,uniform,"{'metric': 'manhattan', 'n_neighbors': 7, 'wei...",0.908877,0.944161,0.944023,0.981217,0.981217,0.951899,0.027173,13
15,0.002401,4.904472e-04,0.002800,7.485580e-04,manhattan,7,distance,"{'metric': 'manhattan', 'n_neighbors': 7, 'wei...",0.908877,0.944161,0.944023,0.981217,0.981217,0.951899,0.027173,13
16,0.002600,4.911279e-04,0.004401,4.903492e-04,manhattan,9,uniform,"{'metric': 'manhattan', 'n_neighbors': 9, 'wei...",0.908877,0.944161,0.925524,0.981217,0.981217,0.948199,0.029179,15
17,0.003000,7.072638e-07,0.002200,3.999480e-04,manhattan,9,distance,"{'metric': 'manhattan', 'n_neighbors': 9, 'wei...",0.908877,0.944161,0.925524,0.981217,0.981217,0.948199,0.029179,15
18,0.002599,4.900182e-04,0.003800,4.003525e-04,manhattan,11,uniform,"{'metric': 'manhattan', 'n_neighbors': 11, 'we...",0.908877,0.944161,0.907035,0.981217,0.944023,0.937063,0.027366,23
19,0.002401,4.901744e-04,0.002000,1.907349e-07,manhattan,11,distance,"{'metric': 'manhattan', 'n_neighbors': 11, 'we...",0.908877,0.944161,0.907035,0.981217,0.944023,0.937063,0.027366,23
20,0.002600,4.901954e-04,0.004200,3.990176e-04,minkowski,3,uniform,"{'metric': 'minkowski', 'n_neighbors': 3, 'wei...",0.981569,0.981233,0.944023,0.962573,1.000000,0.973880,0.019051,3
21,0.002399,4.901158e-04,0.002400,4.894154e-04,minkowski,3,distance,"{'metric': 'minkowski', 'n_neighbors': 3, 'wei...",0.981569,0.981233,0.944023,0.962573,1.000000,0.973880,0.019051,3
22,0.002201,3.998547e-04,0.003999,6.322596e-04,minkowski,5,uniform,"{'metric': 'minkowski', 'n_neighbors': 5, 'wei...",0.963284,0.962636,0.944023,0.962573,0.962573,0.959018,0.007502,11
23,0.002000,8.944165e-04,0.001999,2.062011e-06,minkowski,5,distance,"{'metric': 'minkowski', 'n_neighbors': 5, 'wei...",0.963284,0.981233,0.944023,0.962573,0.962573,0.962737,0.011770,9
24,0.002400,4.897273e-04,0.003200,3.998305e-04,minkowski,7,uniform,"{'metric': 'minkowski', 'n_neighbors': 7, 'wei...",0.908877,0.944161,0.925524,0.981217,0.962573,0.944470,0.025706,17
25,0.002000,1.018246e-06,0.002000,8.064048e-07,minkowski,7,distance,"{'metric': 'minkowski', 'n_neighbors': 7, 'wei...",0.908877,0.944161,0.925524,0.981217,0.962573,0.944470,0.025706,17
26,0.002000,5.154696e-06,0.003399,4.912121e-04,minkowski,9,uniform,"{'metric': 'minkowski', 'n_neighbors': 9, 'wei...",0.872586,0.925764,0.925524,0.981217,0.962573,0.933533,0.037299,25
27,0.002002,3.774551e-06,0.001802,3.993608e-04,minkowski,9,distance,"{'metric': 'minkowski', 'n_neighbors': 9, 'wei...",0.890759,0.925764,0.925524,0.981217,0.962573,0.937167,0.031639,21
28,0.002401,4.885834e-04,0.003600,7.999778e-04,minkowski,11,uniform,"{'metric': 'minkowski', 'n_neighbors': 11, 'we...",0.854321,0.925764,0.907035,0.981217,0.962573,0.926182,0.044461,29
29,0.002601,4.903495e-04,0.001800,4.004026e-04,minkowski,11,distance,"{'metric': 'minkowski', 'n_neighbors': 11, 'we...",0.872586,0.925764,0.925524,0.981217,0.962573,0.933533,0.037299,25